
@keyframes animText {
    0% {
        background: var(--clr1);
        -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    }
    100% {
        background: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes turnUp-dowToUp {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -40%);
        filter: opacity(0);
    }
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%) ;
        filter: opacity(1);
    }
}

@keyframes turnUp {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes turn_up_bg {
    from {
        filter: blur(2px);
    }
    to {
        filter: blur(0);
    }
}

@keyframes card_title {
    0% { transform:translateX(30%);}
    50% { transform:translateX(0);  background-color: transparent;}
    60% { transform:translateX(0);  background-color: white;}
    100% { transform:translateX(0); background-color: white;border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);}
}