:root {
    --clr1: #F2F2F2; /*clr 1.*/
    --clr2: #591F0A;
    --clr3: #A69576;
    --clr4: #5C6373;
    --clr5: #261008;
    --clr6: #262526; /*clr 2.*/
    --clr7: #B0C6D9;
    --clr8: #719ED9;
    --clr9: #D99518;
    --clr10: #f19500; /*clr 3.*/
    --header-img: url('../images/header.jpg');
    --section-edge-size: 220px;
    --card-border-radius: 6px;
}

@keyframes animText {
    0% {
        background: var(--clr1);
        -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    }
    100% {
        background: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes turnUp-dowToUp {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -40%);
        filter: opacity(0);
    }
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%) ;
        filter: opacity(1);
    }
}

@keyframes turnUp {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes turn_up_bg {
    from {
        filter: blur(2px);
    }
    to {
        filter: blur(0);
    }
}

@keyframes card_title {
    0% { transform:translateX(30%);}
    50% { transform:translateX(0);  background-color: transparent;}
    60% { transform:translateX(0);  background-color: var(--clr6);}
    100% { transform:translateX(0); background-color: var(--clr6);
        border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
        border: 3px solid var(--clr10);
    }
}